{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container py-5">

    <div class="row min-vh-100">

      <!-- LEFT SIDE: USER INFORMATION -->
      <div class="col-12 col-md-6">
        {% include "profile/components/top_of_profile.html" %}
        {% include "profile/components/user_info.html" %}
        {% include "profile/components/budget_section.html" %}
        {% include "profile/components/transaction_history.html" %}
      </div>

      <!-- RIGHT SIDE: BUSINESS LOGIC PLACEHOLDER -->
      <div class="col-12 col-md-6">
        {#        {% include "" %}#}

        {% include "profile/components/events_list.html" %}
        {% include "profile/components/group_list.html" %}
        {% include "profile/components/list_of_conecctions.html" %}
        {% include "profile/components/list_of_invitations.html" %}

      </div>
      <div class="mt-4 p-3 border border-secondary rounded">
        <h5 class="text-secondary mb-2">
          Statistics (coming soon)
        </h5>

        <div class="text-muted small">
          Charts for income / expenses / trends will be displayed here.
        </div>

        <div class="d-flex justify-content-center align-items-center"
             style="height: 160px;">
    <span class="text-secondary fst-italic">
      Graph placeholder
    </span>
        </div>
      </div>
    </div>
    {% include "modals/top_up_modal.html" %}
  {% include "modals/set_expense_modal.html" %}
  </div>

{% endblock %}
