<div class="modal fade" id="transactionModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="post"
            action="{% url 'transfer-create' content_type=content_type object_id=object_id %}"
            class="bg-dark text-white">
        {% csrf_token %}

        <div class="modal-header">
          <h5 class="modal-title">Create new transaction</h5>
          <button type="button" class="btn-close btn-close-white"
                  data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body d-flex flex-column align-items-center
justify-content-center g-5">
          <div class="form-floating text-secondary mb-4 modal-form-field">
            <input type="number"
                   name="amount"
                   class="form-control {% if transaction_form.amount.errors %}is-invalid{% endif %}"
                   id="amountInput"
                   value="{{ transaction_form.amount.value|default:'' }}"
                   required>
            <label for="amountInput" class="text-dark">Set amount*</label>
            {% for error in transaction_form.amount.errors %}
              <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
          </div>

          <div class="form-floating text-secondary mb-4 modal-form-field">
            <input
                type="date"
                name="date"
                class="form-control {% if transaction_form.date.errors %}is-invalid{% endif %}"
                id="dateInput"
                value="{{ transaction_form.date.value|default:"" }}"
            >
            <label for="dateInput">Date</label>

            {% for error in transaction_form.date.errors %}
              <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
          </div>

          <div class="form-floating text-secondary mb-4 modal-form-field">
            <select name="type"
                    class="form-select"
                    id="typeInput"
                    hx-get="{% url 'ajax_get_categories' %}"
                    hx-trigger="change"
                    hx-target="#categorySelect"
                    hx-include="this">
              {% for value, label in transaction_form.fields.type.choices %}
                <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
            <label for="typeInput">Type of transaction</label>
          </div>

          <div class="form-floating text-secondary mb-4 modal-form-field">
            <select name="category" class="form-select" id="categorySelect">
              {% include 'partials/categories_to_form.html' with categories=transaction_form.fields.category.queryset %}
            </select>
            <label for="categorySelect">Category</label>
          </div>
          <div class="form-floating text-secondary mb-4 modal-form-field">
            <input type="text"
                   name="note"
                   class="form-control {% if transaction_form.note.errors %}is-invalid{% endif %}"
                   id="noteInput"
                   value="{{ transaction_form.note.value|default:'' }}"
            >
            <label for="noteInput">Comment</label>
            {% for error in transaction_form.note.errors %}
              <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success">
            Submit
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
