<div class="modal fade" id="userKeyModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="post" action="{% url 'user-invite-uk' invite_type=content_type sender_id=object_id %}"
            class="bg-dark text-white">
        {% csrf_token %}

        <div class="modal-header">
          <h5 class="modal-title">Put user uniq key</h5>
          <button type="button" class="btn-close btn-close-white"
                  data-bs-dismiss="modal"></button>
        </div>

        <div
            class="modal-body d-flex flex-column align-items-center justify-content-center ">
          <div class="form-floating text-secondary mb-4">
            <input type="text"
                   name="unik_key"
                   class="form-control {% if form.key.errors %}is-invalid{% endif %}"
                   id="keyInput"
                   value="{{ form.key.value|default:'' }}"
                   required>
            <label for="keyInput">Uniq user key</label>
            {% for error in form.key.errors %}
              <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
          </div>

          <div class="modal-footer w-100">
            <button type="submit" class="btn btn-outline-success">
              Submit
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
