<div class="card-body">
  <h5 class="fw-semibold mb-3">Group details</h5>

  {% if group.start_date %}
    <p><strong>Start:</strong> {{ group.start_date }}</p>
  {% endif %}
  {% if group.end_date %}
    <p><strong>End:</strong> {{ group.end_date }}</p>
  {% endif %}

  <p><strong>State:</strong> {{ group.state }}</p>
  {% if current_budget %}
    <h5 class="fw-semibold mb-3">Budget overview</h5>

    <p>Current amount: {{ current_budget.current_amount }}</p>

    {% if current_budget.total_income %}
      <p>Total income: {{ current_budget.total_income }}</p>
    {% endif %}

    {% if current_budget.total_expenses %}
      <p>Total expenses: {{ current_budget.total_expenses }}</p>
    {% endif %}


  {% endif %}
</div>