<a href="{% url "group-detail" pk=group.id %}"

   class="text-decoration-none text-white">
  <div class="card bg-dark h-100 shadow-sm border-secondary event-card">
    <div class="card-body text-center fs-3">
      <div class="mb-3 text-success">
        {% include "groups/components/group_icon.html" with type=event.type %}
      </div>
      <h5 class="card-title fw-bold text-white fs-2">
        {{ group.name }}
      </h5>
      <p class="card-text text-secondary small fs-4 card-description">
        {{ group.description|default:"No description" }}
      </p>
      <div class="d-flex justify-content-center small text-secondary mt-3">
        <span class="badge bg-outline-secondary">
          {{ group.get_state_display }}
        </span>
      </div>
    </div>
  </div>
</a>
