<div class="card-body">
  <h5 class="fw-semibold mb-3">Available connections</h5>

  {% if connects %}
    <ul class="list-group list-group-flush">
      {% for connect in connects %}
        <li class="list-group-item bg-dark text-white border-secondary d-flex justify-content-between align-items-center">
          <h6>{{ connect.username }}</h6>

          <form method="post"
                action="{% url "groups:invite-member" pk=group.id user_id=connect.id %}">
            {% csrf_token %}
            <button class="btn btn-outline-info btn-sm">
              Invite
            </button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-secondary">No available users</p>
  {% endif %}
</div>