<div class="card-body">
  <h5 class="fw-semibold mb-3">Members</h5>

  {% if members %}
    <ul class="list-group list-group-flush">
      {% for member in members %}
        <li class="list-group-item bg-dark text-white border-secondary">
          <h6>{{ member.user.username }}</h6>
          <p class="text-white-50">{{ member.role }}
            - {{ member.status }}</p>
          <div
              class="d-flex flex-row justify-content-center align-items-center flex-wrap gap-2 mb-2">
            {% if user_role in "Admin,Creator" and member.role in "Moderator,Member" and member.status != "Pending" %}
              <form method="post"
                    action="{% url "groups:promote" pk=group.id user_id=member.user.id %}">
                {% csrf_token %}
                <button class="btn btn-success btn-sm">
                  Promote
                </button>
              </form>
            {% endif %}
            {% if user_role in "Admin,Creator" and member.role in "Moderator,Admin" %}
              <form method="post"
                    action="{% url "groups:demote" pk=group.id user_id=member.user.id %}">
                {% csrf_token %}
                <button class="btn btn-warning btn-sm">
                  Demote
                </button>
              </form>
            {% endif %}
            {% if user_role in "Admin,Creator" and member.role != "Creator" %}
              <form method="post"
                    action="{% url "groups:reject-invite" pk=group.id user_id=member.user.id stay="inside" %}">
                {% csrf_token %}
                <button class="btn btn-danger btn-sm">
                  Delete
                </button>
              </form>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-secondary">No members</p>
  {% endif %}
</div>